@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    33% {
        background-color: #66bf39
    }

    66% {
        background-color: #eb670f
    }

    100% {
        background-color: #864cbf
    }
}

.container {
    // margin-top: 50px;
    // margin-bottom: 8%;
    height: 100%;
}
.center-block {
    // background: url(src/assets/Kahoot_Logo.svg);
    width: 300px;
    height: 90px;
    padding-bottom: 2rem;
}

.logo-container {
    // padding-top: 4.25rem;
    // margin-top: 8%;
}

.form-container {
    padding-top: 2.25rem;
}

.inner-form-container {
    width: 300px;
}

.pin-form {
    font-size: 20px;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700;
    text-align: center;
    color: #333;
    height: 50px;
    width: 100%;
    border-radius: 0;
}

.pin-form:focus {
    box-shadow: none;
    border: .125rem solid #333;
    // animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    // transform: translate3d(0, 0, 0);
    // backface-visibility: hidden;
    // perspective: 1000px;
}

.pin-form-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.pin-form-error {
    border-color: rgb(255, 51, 85);
    border-width: 0.125rem;
}

.button {
    height: 50px;
    margin-top: 2.2rem;
    box-shadow: none;
    outline: 0;
    margin: auto;
    background-color: #333;
    // background-image: #333;
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    min-width: 300px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

.button-container {
    margin-top: 1.1em;
    display: flex;
    justify-content: center;
}

.share-button {
    margin-top: 5px;
    background-color: blueviolet;
}

.share-button-disabled {
    opacity: 0.6;
    pointer-events: none;
}

.thematic-break {
    border: none;
    border-top: 3px solid #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 300px;
}

.or {
    font-weight: 700;
    font-size: 20px;
}

.or:after,
.or:before{
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

.inputfile-1 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-label {
    border: 2px solid;
    background-color: blueviolet;
    color: whitesmoke;
    font-size: 20px;
    height: 50px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-family: ine;
    width: 300px;
    text-align: center;
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    cursor: pointer;
}

.input-container {
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    font-weight: 700
}

.input-text {
    margin-top: 10px;
}

.upload-icon {
    margin-bottom: 5px;
    margin-right: 10px;
}

.upload-icon-path {
    fill: #fff
}

.title {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 95px;
    color: #fff
}

.get-it-row {
    margin-bottom: 10px
}

.share-it-row {
    margin-top: 10px
}

.footer-message {
    position: absolute;
    z-index: 1001;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 51, 85);
    overflow: hidden;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    transition: all 0.2s linear;
}

.exclamation-mark {
    width: 35px;
    flex-shrink: 0;
}

.check-mark {
    font-size: 20px; 
    padding-right: 5px
}

.footer-message-text {
    word-break: break-all;
}

.donate-section {
    color: #fff; 
    margin-bottom: 10px;
}

.patreon {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }